language: node_js
node_js:
  - "stable"
cache:
  directories:
  - node_modules
script:
  - npm test
  - npm run webpack
before_install:
  - gem install sass
  - gem install compass
  - npm rebuild node-sass
deploy:
  provider: s3
  access_key_id: $aws_access_key
  secret_access_key: $aws_secret_key
  local_dir: build
  branch: staging
  bucket: "react-guessing-game"
  skip_cleanup: true
  acl: public_read
after_success: coveralls