/* Coolors Exported Palette - coolors.co/f87060-374a67-cdd7d6-b3a394-ffffff */

/* HSL */
$color1: hsla(6%, 92%, 67%, 1);
$color2: hsla(216%, 30%, 31%, 1);
$color3: hsla(174%, 11%, 82%, 1);
$color4: hsla(29%, 17%, 64%, 1);
$color5: hsla(0%, 0%, 100%, 1);

/* RGB */
$red_orange: rgba(248, 112, 96, 1);
$deep_blue: rgba(55, 74, 103, 1);
$light_grey: rgba(205, 215, 214, 1);
$tuscany: rgba(179, 163, 148, 1);
$white: rgba(255, 255, 255, 1);